{% extends 'base.html' %}
{% block content %}
<h2>Photos</h2>
<div class="grid-container">
{% for photo in photos%}
<div class="POST">
<img src="{{photo.image.url}}">
<p>{{photo.caption}}</p>
</div>
{%endfor%}
</div>
<div>
    <h2>Post</h2>
    <div class="grid-container">
        {% for blog in blogs %}
        <div class="POST">
            <a href="{%url 'blog:view_blog' blog.id%}">
                <h4>Billet : {{blog.title}}</h4>
                <img src="{{blog.photo.image.url}}">
            </a>
            <p>{{blog.photo.caption}}</P>
        </div>

        {% endfor %}
    </div>
{% endblock content %}